* {
    margin: 0;
    padding: 0;
    font-family: $defaultFont;
}

html {
    scroll-behavior: smooth;
}

main,
main > section {
    @include alignColumn(center);
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p,
address, figure,a {
    margin: 0;
    padding: 0;
}
