

$defaultFont    : 'Open Sans', sans-serif;
$subFont        : 'Noto serif', serif;
$mainColor      : #086814;
$subColor1      : #f65b1d;
$subColor2      : #f1da2b;
$darkGray       : #2f2f2f;
$mediumGray     : #797979;
$lightgray      : #e1e1e1;
$whitegray      : #F5F5F5;
$defaultH3Mob   : 22px;
$defaultH3Tab   : 26px;
$defaultH3Des   : 23px;

$contentRatioMob     : 90%;
$contentRatioTab     : 86%;
$contentRatioDes     : 78%;