

.event {

    > article {
        width: $contentRatioDes;
    }

    > section {
        > a {
            width: 23.5%;
        }
    }

    aside {
        min-height: 38vh;
        row-gap: 2vh;
    }

    address, small, label {
        font-size: 14px;
    }

    img {
        height: 22vh;
    }

}

.place {

    > article {
        width: $contentRatioDes;
    }

    > section {
        width: $contentRatioDes;
        column-gap: 2vh;
        > article {
            width: 30vh;
            height: 30vh;

            aside {
                row-gap: 1vh;
                strong {
                    font-size: 24px;
                }

                a {
                    font-size: 12px;
                    transition: .2s;
                }

                a:hover {
                    background-color: $mainColor;
                    color: $whitegray;
                    border: 2px solid transparent;
                }
            }
            
        }

    }
}