main {
    > section {
        row-gap: 6vh;
        padding-top: 8vh;
        padding-bottom: 8vh;

        > section, > aside {
            width: $contentRatioMob;
            @include alignColumn;
        }
    }

    p {
        font-size: 14px;
    }
}

h3 {
    font-size: $defaultH3Mob;
    text-transform: uppercase;
    font-weight: 500;
}


.event {

    > article {
        width: $contentRatioMob;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > a {
            @include columnGap(0.7vh);
            align-items: center;
            color: $mediumGray;
        }

        i {
            font-size: 13px;
        }
    }

    > section {
        @include rowGap(5.5vh);
    }

    aside {
        padding: 5%;
        @include rowGap(1.5vh);
        color: $mediumGray;
        line-height: 1.3;
        border: 1px solid $lightgray;
        border-top: 0px none transparent;

        p {
            font-size: 17px;
            color: $mainColor;
        }
    }

    h4 {
        color: $darkGray;
        font-size: 19px;
        line-height: 1.4;
    }

    address, small, label {
        font-size: 15px;
    }

    address {
        font-style: normal;
    }

    form {
        @include rowGap(0.5vh);
    }

    progress {
        width: 100%;
        accent-color: $mainColor;
    }

    figure {
        position: relative;
        display: flex;
    }

    figcaption {
        height: 100%;
        width: 100%;
        padding: 5%;
        box-sizing: border-box;
        position: absolute;
        color: white;
        display: flex;
        justify-content: right;

        p {
            width: 25%;
            height: 18%;
            font-weight: 500;
            font-size: 17px;
            letter-spacing: 1px;
            border-radius: 2vh;
            background-color: $sucColor1;
            @include alignColumn(center);
            justify-content: center;
        }

    }

    img {
        width: 100%;
        height: 25vh;
        object-fit: cover;
    }
}

// .place {
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;

//     > article {
//         width: $contentRatioMob;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         > a {
//             @include columnGap(0.7vh);
//             align-items: center;
//             color: $mediumGray;
//         }

//         i {
//             font-size: 13px;
//         }
//     }
    
//     > section {
//         width: 100%;
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         row-gap: 8vh;

//         > article { 
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             width: 40vh;
//             height: 40vh;
//             border-radius: 50%;
//             background-image: url(/img/pexels-helena-lopes-696218.jpg);
//             background-position: center;
//             background-size: cover;
//             background-repeat: no-repeat;

//             aside {
//                 width: 100%;
//                 height: 100%;
//                 border-radius: 50%;
//                 background-color: rgba($color: #444, $alpha: 0.5);
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 align-items: center;
//                 row-gap: 1vh;

//                 strong, a {
//                     color: white;
//                 }

//                 strong {
//                     font-size: 30px;
//                 }

//                 a {
//                     font-size: 20px;
//                 }
//             }
//         }

        
    
//     }

// }