
.event {

    > article {
        width: $contentRatioTab;

        > a {
            font-size: 17px;

            &:hover {
                color: $subColor1;
                text-decoration: underline;
            }
        }
    }

    > section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 4vh;

        > a {
            width: 47%;
            height: fit-content;

            &:hover {
                box-shadow: 0 4px 25px 0 #c0c8b9;
            }
        }
    }

    h4 {
        font-size: 20px;
    }

    aside {
        min-height: 23vh;
    }

    address, small, label {
        font-size: 16px;
    }

    img {
        height: 20vh;
    }

}

.place {
    > article {
        width: $contentRatioTab;
    }


    > section {
        width: $contentRatioTab;
        @include flexRow(4vh);
        justify-content: center;
        row-gap: 4vh;

        > article {
            width: 26vh;
            height: 26vh;

            aside {
                row-gap: 1vh;
                strong {
                    font-size: 30px;
                }
                p {
                    font-size:12px;
                }
            }
        }       
        
    }
}

.contact {
    > aside {
        width: $contentRatioTab;
        h3 {
            padding: 0;
        }
    }
    > section {
        width: $contentRatioTab;
        > article {
            @include flexRow(1vh);
            justify-content: space-between;
        }
        input,textarea {
            padding-left: 1vh;
            width: 100%;
        }

        input::placeholder,
        textarea::placeholder{
            font-size: 20px;
        }

        input:nth-child(1),
        input:nth-child(2) {
            width: 46%;
        }

        aside {
            width: 70%;
        }

    }

    > article {
        width: $contentRatioTab;
        padding-top: 4vh;

        h4 {
            font-size: 28px;
        }
        ul {
            width: 100%;
        }
    }
}