
.event {

    > article {
        width: $contentRatioTab;

        > a {
            font-size: 17px;

            &:hover {
                color: $subColor1;
                text-decoration: underline;
            }
        }
    }

    > section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 4vh;

        > a {
            width: 47%;
            height: fit-content;

            &:hover {
                box-shadow: 0 4px 25px 0 #c0c8b9;
            }
        }
    }

    h4 {
        font-size: 20px;
    }

    aside {
        min-height: 23vh;
    }

    address, small, label {
        font-size: 16px;
    }

    img {
        height: 20vh;
    }

}

.place {
    > article {
        width: $contentRatioTab;
    }


    > section {
        width: $contentRatioTab;
        @include flexRow(4vh);
        justify-content: center;
        row-gap: 4vh;

        > article {
            width: 26vh;
            height: 26vh;

            aside {
                row-gap: 1vh;
                strong {
                    font-size: 30px;
                }
                p {
                    font-size:12px;
                }
            }
        }       
        
    }
    
}