@media (min-width: 1000px) {

    main {
        > section {
            row-gap: 5vh;
            padding-top: 8vh;
            padding-bottom: 8vh;
    
            > section, > aside {
                width: $contentRatioDes;
            }
        }
    }
    
    h3 {
        font-size: $defaultH3Des;
    }
    
    // nav
    nav {
        width: 78%;
        padding-left: 11%;
        padding-right: 11%;
    
        > article {
            column-gap: 5vh;
        }
    }

    // header
    header {
        height: 50vh;

        > article {
            height: 50vh;

            aside {
                padding-left: 11%;
                padding-right: 11%;
            }
        }

        aside {
            a {
                transition: .3s;
            }

            a:hover {
                background-color: $subColor1;
                border: 1px solid $subColor1;
            }
        }
    }

    

    // footer
    footer {
        font-size: 14px;

        > section {
            padding: 11%;
            padding-top: 2%;
            padding-bottom: 2%;
            width: 78%;
            flex-direction: row;
            justify-content: space-between;
            column-gap: 7vh;

            > article {
                column-gap: 8vh;
            }
        }

        aside, form {
            row-gap: 1.5vh;
        }

        ul {
            flex-direction: column;
        }

        article:last-child ul {
            flex-direction: row;
        }

        .fa-brands {
            width: 3.5vh;
            height: 3.5vh;
        }

    }

    @import 'home/desktop';
    @import 'event/desktop';
    @import 'place/desktop';
}