@media (min-width: 200px) {

    main {
        > section {
            row-gap: 6vh;
            padding-top: 8vh;
            padding-bottom: 8vh;
    
            > section, > aside {
                width: $contentRatioMob;
                @include alignColumn;
            }
        }
    
        p {
            font-size: 14px;
        }
    }
    
    h3 {
        font-size: $defaultH3Mob;
        text-transform: uppercase;
        font-weight: 500;
    }
    
    // NAV
    nav {
        width: 100%;
        position: fixed;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $mainColor;
        padding-top: 3%;
        padding-bottom: 3%;
    
        > article {
            display: none;
        }

        > details {
            width: 95%;
            padding-right: 5%;
            text-align: right;
            position: absolute;
            display: flex;
            color: white;

            > ul {
                position: absolute;
                width: 100%;
                margin-top: 1.7vh;
                text-align: left;
                background-color: white;
                box-shadow: 0 8px 16px 0 rgba($color: #c0c8b9, $alpha: 0.6);
            }
        }

        summary {
            font-size: 20px;
        }
    }
    
    details {
    
        li {
            display: flex;
            flex-direction: column;
        }
    
        a {
            display: flex;
            padding: 2.5%;
            padding-left: 5%;
            color: $darkGray;
        } 
    }
    
    ul ul a {
        padding-left: 10%;
        font-size: 15px;
        color: $mediumGray;
    }
    
    h1 {
        color: white;
        @include columnGap(1vh);
        align-items: center;
        padding-left: 5%;
    
        i {
            color: $subColor2;
        }
    }

 // header
 header {
    padding-top: 6vh;
    height: 28vh;
    display: flex;

    video {
        height: 100%;
        width: 100%;
        position: relative;
        object-position: center;
        object-fit: cover;
    }
    > article {
        position: absolute;
        width: 100%;
        height: 28vh;
        background-color: rgba($color: #444, $alpha: 0.5);
        display: flex;
        
        aside {
            width: 100%;
            height: 100%;
            padding-left: 2vh;
            @include alignColumn(flex-start);
            justify-content: center;
            row-gap: 1.5vh;
            color: $whitegray;
            h2 {
                font-size: 20px;
            }
            strong {
                font-weight: 400;
                font-size: 10px;
                span {
                    font-size: 14px;
                    font-weight: 700;
                    color: $subColor1;
                    text-shadow: 1.5px 1.5px $darkGray;
                }
            }
            p {
                display: none;
            }
            a {
                padding: .5vh;
                font-size: 8px;
                color: $whitegray;
                border: 1px solid $whitegray;
                border-radius: 5px;
            }
        }
    }
}

// footer
footer {
    color: white;
    font-size: 13px;
    line-height: 2;
    @include alignColumn(center);

    > section {
        padding: 5%;
        width: 90%;
        background-color: #444;
        @include rowGap(1.3vh);
    }

    section:last-child {
        background-color: #222;
        color: darkgray;
        text-align: center
    }

    article {
        @include rowGap(1.3vh);
    }

    ul {
        display: flex;
        column-gap: 1.5vh;
    }

    li {
        list-style-type: none;
    }

    form {
        @include rowGap(1.3vh);

        article {
            flex-direction: row;
            align-items: flex-start;
            line-height: 1.5;
            color: darkgray;
        }

        article:last-child {
            display: block;
        }
    }

    input {
        padding: 2%;
    }

    aside {
        @include rowGap(1vh);
    }

    a, address {
        color: darkgray;
    }

    a {
        width: fit-content;
    }

    address {
        font-style: normal;
    }

    i {
        font-family: $defaultFont;
    }

    .fa-brands {
        width: 3vh;
        height: 3vh;
        border: 1px solid darkgray;
        border-radius: 50%;
        @include alignColumn(center);
        justify-content: center;
    }
}

h6 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}


    @import 'home/mobile';
    @import 'event/mobile';
    @import 'place/mobile';
}