main {
    > section{
        width: 95%;
        > aside {
            @include alignColumn (center);
            text-align: center;
            h4 {
                color: $mainColor;
                font-size: 28px;
                font-weight: 700;
                text-transform: uppercase;
            }
            i {
                color: $mainColor;
            }

            p {
                display: flex;
                justify-content: space-between;
                align-items: center;
                column-gap: 2vh;

                span {
                    width: 10vh;
                    height: 2px;
                    background-color: $mainColor;
                }
            }
        }

    }
  @include alignColumn (center);
    // // restaurant
    // .restaurant{}
    // // activities
    // .activities{}
    // // exhibition
    // .exhibition{}
    // theatre
    .theatre{
    
        > section {
            width: 90%;
            > article {
                margin: 0;
                display: none;
            }
            > section {
                width: 100%;
                >aside{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                    section{
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-end;
                        row-gap: .5vh;
                        background-color: rgba($color: #000000, $alpha: 0.5);
                        h5{
                            font-size: 18px;
                            margin: 0;
                        }
                        small{
                            font-size: 8px;
                        }
                        p{
                            font-size: 12px;
                            margin: 0;
                        }
                        address{
                           display: none;
                            // margin: 0;
                        }
                    }
                }
            }
        }
    }
    // // reference
    // .reference{}
}