main {
    > section {
        width: 100%;
    }
    //restaurant 
    .restaurant {
        > section {
            width: $contentRatioTab;
            > section {
                width: 100%;
                @include flexRow(2vh);
                justify-content: space-between;
            article {
                width: 48%;
            }
        }
        }
    }
    // activities
    .activities {
        > section {
            width: $contentRatioTab;
            > article {
                width: 100%;
                @include flexRow(2vh);
                justify-content: space-between;
                figure {
                    width: 48%;
                }
            }
        }
    }
    // exhibition
    .exhibition {
        > section {
            width: $contentRatioTab;
            > section {
                width: 100%;
                @include flexRow(2vh);
                align-items: flex-start;
                justify-content: space-between;
                figure {
                    width: 48%;
                    }
            }
        }
    }
    // theatre
    .theatre {
        > section {
            width: $contentRatioTab;

            > article {
                display: flex;
            }
            > section {
                >aside{
                    section{
                        h5{
                            font-size: 26px;
                            padding-bottom: .5vh;
                            border-bottom: 1px solid;
                        }
                        small {
                            padding-top: .5vh;
                        }
                        address{
                            display: block;
                            font-size: 8px;
                            padding-bottom: 2vh;
                        }
                    }
                }
            }
        }
    }
    // reference
    .reference {
        > section {
            width: $contentRatioTab;
        }
    }
}