main {
    > section {
        width: 100%;
    }
}
    //restaurant 
    .restaurant {
        > section {
            width: $contentRatioTab;
            > section {
                width: 100%;
                @include flexRow(2vh);
                justify-content: space-between;
        }
        article {
            width: 48%;
        }
        }
    }
    // activities
    .activities {
        > section {
            width: $contentRatioTab;
            > article {
                width: 100%;
                @include flexRow(2vh);
                justify-content: space-between;
            }
        }
        figure {
            width: 48%;
        }
    }
    // exhibition
    .exhibition {
        > section {
            width: $contentRatioTab;
            > section {
                width: 100%;
                @include flexRow(2vh);
                align-items: flex-start;
                justify-content: space-between;
            }
            figure {
                width: 48%;
                }
        }
    }
    // theatre
    .theatre {
        >article {
            width: $contentRatioTab;

            h5 {
                font-size: 22px;
            }
        }

        > section {
            width: $contentRatioTab;

            > article {
                display: flex;
            }
            > section {
                >aside{
                    section{
                        h5{
                            font-size: 26px;
                            padding-bottom: .5vh;
                            border-bottom: 1px solid;
                        }
                        small {
                            padding-top: .5vh;
                        }
                        address{
                            display: block;
                            font-size: 8px;
                            padding-bottom: 2vh;
                        }
                    }
                }
            }
        }
    }
    
    // review 
    .review {
        width: $contentRatioTab;

        > section {
            // border: 1px solid;
            article {
             @include flexRow;
             justify-content: space-between;
            }

            article:nth-child(2){
                flex-direction: row-reverse;
            }
        }

        blockquote {
            @include alignColumn(flex-start);
            row-gap: 1.5vh;
            width: 60%;
            font-size: 16px;
            text-align: left;
            cite{
                font-size: 20px;
            }
        }
        
        aside {
            width: 60%;
            justify-content: left;
            width: 100%;

        }
    }
    
    // reference
    .reference {
        > section {
            width: $contentRatioTab;
        }
    }
