main {

    > article {
        width: $contentRatioDes;
    }
}

.top3 {

    figcaption {
        
        h2 {
            font-size: 32px;
        }

        h4 {
            padding-top: 4vh;
            font-size: 23px;
        }

        p {
            min-height: 16vh;
            font-size: 16px;
        }

        a {
            padding: 1.5vh;
        }
    }
}

.eFeature {

    row-gap: 7vh;

    > section {
        figure {
            flex-direction: row;
        }
        img {
            height: 32vh;
        }

        p {
            font-size: 16px;
        }
    }

    > aside {

        flex-wrap: nowrap;
        justify-content: space-between;
        column-gap: 1.8%;

        a {
            flex-grow: 1;
            transition: 0.5s;
            width: unset;

            &:hover {
                flex-grow: 5.5;
            }
        }

        figure {
            height: 50vh;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 900px;
        }
    }
}

.eList {

    > section {
        padding: 2%;
    }

    summary {
        transition: .4s;
        &:hover {
            background-color: $mainColor;
            color: white;
        }
    }

    a:hover {
        color: $mainColor;
    }

}