main {

    > article {
        width: $contentRatioTab;
        display: flex;
        column-gap: 6%;
    }
}

.h_header {

    figcaption {

        text-align: left;

        h2 {
            background-color: $mainColor;
            width: fit-content;
            padding: 1vh;
            font-size: 24px;
            font-weight: 500;
        }

        h4, p {
            display: block;
        }

        h4 {
            padding-top: 2vh;
            padding-bottom: 1vh;
            font-size: 19px;
        }

        p {
            min-height: 12vh;
            color: lightgray;
            padding-bottom: 2vh;
        }

        a {
            color: $subColor2;
            border: 2px solid $subColor2;
            padding: 1vh;

            &:hover {
                background-color: $subColor2;
                color: $darkGray;
            }
        }
    }
}

.eFeature {

    > section {

        figure {
            flex-direction: row;
            column-gap: 5%;
        }

        img {
            width: 50%;
            height: 20vh;
            object-fit: cover;
        }

        figcaption {
            padding: 0;
        }
    }

    > aside {

        justify-content: space-between;

        a {
            width: 48%;
        }

        figure {
            height: 16vh;
        }
    }
}

.filter {
    width: 34%;
}

.eList {

    > article {
        width: $contentRatioTab;
        display: flex;
        align-items: center;
        column-gap: 2vh;

        span {
            border-top: 1px solid $mainColor;
            border-bottom: 1px solid $mainColor;
            height: 4px;
        }

        span {
            flex: 1;
        }

    }

    > section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 4vh;
    }

    figure {
        width: 47%;
    }
    
    details {

        iframe {
            height: 16vh;
        }
    }
}

.eReference {

    width: 100%;

    > section {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 4%;
        row-gap: 2vh;
    }

    article:nth-child(2){
        padding-top: 3vh;
    }

    a:hover {
        color: $subColor1;
        text-decoration: underline;
    }

    aside {
        row-gap: 1vh;
    }
}